.bottom {
    text-align: center;
    width: 100%;
    background-color: #757698;
    display: block;
    line-height: 50px;
}

.bottom .bottom_info {
    display: inline-block;
    vertical-align: middle;
}