body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

input {
    font-family: 'Montserrat', sans-serif;
}

/* Top */
.top {
    background-color: #7074ff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*height: 6.6%;*/
    min-height: 64px;
}

.top .logo {
    padding: 5px 10px;
    margin: auto 0;
    text-decoration: none;
    vertical-align: middle;
}

.top .logo_name {
    font-size: 35px;
    color: #000000;
    font-weight: 700;
    vertical-align: bottom;
}

.top .logo_img {
    height: 50px;
}

.circle {
    margin: auto;
    border-radius: 50%;
}

.circle.user {
    width: 50px;
    height: 50px;
    background: #9300a5;
}

.user_container.signed {
    display: flex;
    justify-content: space-between;
    right: 0;
}

.user_container.signed .top_button.exit {
    max-height: 20px;
    margin: auto 10px;
    background-color: #0e0e28;
    border-color: #0e0e28;
    color: #7074ff;
}

a.user {
    margin: auto 10px;
    display: flex;
    float: left;
    vertical-align: middle;
    text-decoration: none;
}

a.user span {
    margin: auto 0 auto 15px;
    vertical-align: middle;
    font-weight: 900;
    color: black;
}

.circle.user span,
.circle.course span {
    display: block;
    line-height: 50px;
    margin: auto;
    vertical-align: middle;
    font-size: 18px;
    text-align: center;
}

.button.top_button {
    margin: 10px;
}

.buttons.top_buttons {
    margin: auto 10px;
    vertical-align: middle;
}

/* Body */

.button {
    border: 3px solid #81a6f0;
    display: inline-block;
    padding: 5px 15px;
    margin: 16px 10px;
    text-decoration: none;
    color: #000000;
    background: #81a6f0;
    border-radius: 15px;
    font-weight: bold;
    vertical-align: middle;
}

.join_block {
    display: flex;
    align-items: center;
    background: url("../img/triangle_two.svg") no-repeat;
    background-size: 70%;
    height: 87.4%;
    min-height: 300px;
    text-align: right;
    margin: 0;
}

.main.join_block,
.main.login_container,
.main.container {
    margin: 0 auto;
    height: calc(100vh - 64px - 6%);
    min-height: calc(100vh - 64px - 6%);
    background-color: rgba(223, 216, 240, 0.21);
}

.join_block > div {
    display: block;
    margin: 0 5% 0 60%;
}

.join_block h1 {
    margin-top: 0;
}

.login_container {
    display: flex;
    justify-content: center;
    height: 88%;
    width: 100%;
    background-color: rgba(139, 174, 255, 0.28);
}

.login_container form {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.login_container form h1 {
    margin: 0;
    padding: 20px;
}

.login_container form .controls {
    display: grid;
    text-align: center;
    margin: auto;
}

.form-control {
    margin: 10px;
    padding: 5px 10px;
    font-size: 25px;
}

.login_container .button {
    font-size: 20px;
}

.full_height {
    height: auto;
}

.center_container {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    padding: 1px 0;
}

.error {
    color: #ff0000;
    font-weight: bold;
}

.margin_zero {
    margin: 0;
}

.course_header {
    padding: 20px;

    background-color: rgba(129, 166, 240, 0.21);
}

.content_center {
    display: flex;
    justify-content: space-between;
    width: 60%;
    min-width: 600px;
    text-align: left;
    margin: auto;
}


.content_center > div {
    display: flex;
    text-align: left;
    vertical-align: middle;
    margin: auto 0;
}

.course.name {
    margin: auto 10px;
    vertical-align: middle;
}

.circle.course span {
    line-height: 80px;
    color: black;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
}

.circle.course {
    width: 80px;
    height: 80px;
    background: #2ca595;
    margin: 20px;
}

.button.course {
    background-color: rgba(165, 106, 33, 0.20);
    border-color: rgba(165, 106, 33, 0.20);
}

.course_header .content_center > div > span.is_active {
    display: block;
    vertical-align: middle;
    margin: auto 20px;
}

.course_header .content_center span.is_active.active {
    color: green;
    font-weight: 700;
}

.course_header .content_center span.is_active.passive {
    color: red;
    font-weight: 700;
}

.course_main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 60%;
    min-width: 600px;
    height: inherit;
    margin: auto;
}

.course_container_main {
    text-align: left;
}

.course_container_main.small {
    text-align: left;
    width: 20%;
    vertical-align: middle;
    margin: 0 auto;
}

.course_container_main.small ul {
    list-style: none;
    padding: 0;
}

.course_container_main.small ul li {
    margin: 30px 10px;
}

.course_container_main.small ul li a {
    text-decoration: none;
    color: black;
    font-weight: 900;
    padding: 7px;
    border: 1px solid #81a6f0;
    border-radius: 15px;
    background-color: #edf3ff;
}

.course_container_main.small ul li a.active_course_tab {
    background-color: #7074ff;
}

.course_container_main.big {
    text-align: left;
    width: 78%;
}

.course_container_main.big .course_info {
    margin: 40px 10px;
}

.course_container_main.big .course_info.users {
    display: flex;
    justify-content: space-between;
}

/* Bottom */
.bottom {
    text-align: center;
    width: 100%;
    background-color: #7074ff61;
    display: block;
    height: 6%;
    min-height: 50px;
}

.bottom .bottom_info {
    display: inline-flex;
    height: 100%;
    align-items: center;
}