body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

input {
    font-family: 'Montserrat', sans-serif;
}

/* Top */
.top {
    background-color: #7074ff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 6.6%;
    min-height: 64px;
}

.top .logo {
    padding: 5px 10px;
    margin: auto 0;
    text-decoration: none;
    vertical-align: middle;
}

.top .logo_name {
    font-size: 35px;
    color: #000000;
    font-weight: 700;
    vertical-align: bottom;
}

.top .logo_img {
    height: 50px;
}

.circle {
    margin: auto;
    border-radius: 50%;
}

.circle.user {
    width: 50px;
    height: 50px;
    background: #9300a5;
}

.circle.course {
    width: 80px;
    height: 80px;
    background: #2ca595;
}

.user_container.signed {
    display: flex;
    justify-content: space-between;
    right: 0;
}

.user_container.signed .top_button.exit {
    max-height: 20px;
    margin: auto 10px;
    background-color: #0e0e28;
    border-color: #0e0e28;
    color: #7074ff;
}

a.user {
    margin: auto 10px;
    display: flex;
    float: left;
    vertical-align: middle;
    text-decoration: none;
}

a.user span {
    margin: auto 0 auto 15px;
    vertical-align: middle;
    font-weight: 900;
    color: black;
}

a.user .circle.user span {
    display: block;
    line-height: 50px;
    margin: auto;
    vertical-align: middle;
    font-size: 18px;
}

.button.top_button {
    margin: 10px;
}

.buttons.top_buttons {
    margin: auto 10px;
    vertical-align: middle;
}

/* Body */

.button {
    border: 3px solid #81a6f0;
    display: inline-block;
    padding: 5px 15px;
    margin: 16px 10px;
    text-decoration: none;
    color: #000000;
    background: #81a6f0;
    border-radius: 15px;
    font-weight: bold;
}

.join_block {
    display: flex;
    align-items: center;
    background: url("../img/triangle_two.svg") no-repeat;
    background-size: 70%;
    height: 87.4%;
    min-height: 300px;
    text-align: right;
    margin: 0;
}

.main.join_block,
.main.login_container,
.main.container {
    margin: 0 auto;
    height: calc(100vh - 6.6% - 6%);
    min-height: calc(100vh - 6.6% - 6%);
}

.join_block > div {
    display: block;
    margin: 0 5% 0 60%;
}

.join_block h1 {
    margin-top: 0;
}

.login_container {
    display: flex;
    justify-content: center;
    height: 88%;
    width: 100%;
    background-color: rgba(139, 174, 255, 0.28);
}

.login_container form {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.login_container form h1 {
    margin: 0;
    padding: 20px;
}

.login_container form .controls {
    display: grid;
    text-align: center;
    margin: auto;
}

.form-control {
    margin: 10px;
    padding: 5px 10px;
    font-size: 25px;
}

.login_container .button {
    font-size: 20px;
}

.full_height {
    height: auto;
}

.center_container {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.error {
    color: #ff0000;
    font-weight: bold;
}

.margin_zero {
    margin: 0;
}

/* Bottom */
.bottom {
    text-align: center;
    width: 100%;
    background-color: #7074ff61;
    display: block;
    height: 6%;
    min-height: 50px;
}

.bottom .bottom_info {
    display: inline-flex;
    height: 100%;
    align-items: center;
}