body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

input {
    font-family: 'Montserrat', sans-serif;
}

.bg {
    background: url("../img/triangle_two.svg") no-repeat;
    height: 100%;
    background-size: 170%;
}

.form-signing {
    max-width: 400px;
}