body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

input {
    font-family: 'Montserrat', sans-serif;
}

.top {
    background-color: #7074ff;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top .logo {
    padding: 5px 10px;
    text-decoration: none;
}

.top .logo_name {
    font-size: 35px;
    color: #000000;
    font-weight: 700;
    vertical-align: bottom;
}

.top .logo_img {
    height: 50px;
}
